.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 30vh;
    background-color: #D9D9D9;
    padding-top: 28px;
    position: absolute;
    right: 0;
    margin-top: 20%;
    margin-right: 100px;
    border-radius: 10px;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #D9D9D9;
    color: red;
    /* transition: width 0.3s ease-in-out; */
    position: sticky;
    left: 10px;
    transition: left 1s;
    
    width: 150px;
    left: 0;

}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    /* color: #B2BAC2; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 18px;
}

.homeicon {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    /* padding-left: 10px; */
    cursor: pointer;
    color: black;
    text-decoration: none;
    overflow: hidden;
}