.sidenav {
    width: 200px;
    transition: width 0.3s ease-in-out;
    height: auto;
    background-color: var(--primary-focus);
    padding: 1em 0;
    right: 0px;
    position: absolute;
    top: 33%;
    position: fixed;
    margin-right: 1em;
    border-radius: 1em;

}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px;


}

.sideitem {
    display: flex;
    align-items: center;

    padding: 12px 20px;
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    overflow: hidden;
}

.linkText {
    padding-left: 25px;
    font-weight: bold;
}

.sideitem:hover {
    background-color: var(--base-100);
    /*color: black;
    position: absolute;
    right: 0px;
    transition: left 0.3s;
    width: 170px;*/
}

.menuBtn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding-left: 20px;
    padding-bottom: 6px;
}

@media screen and (max-width: 800px) {
    .sidenav {
        display: none;
    }
}