/* .team-container h1 {
    font-size: 2em;
    font-weight: 500;
}

.team-container h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.team-container h3 {
    font-size: 1em;
    font-weight: 500;
} */

.team-container {
    display: grid;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 163rem));
    max-width: 100%;
    margin-left: 10em;
    image-rendering: auto
}

.team-circles {
    /* margin: 40px;
    margin-top: 10px; */
    margin: 3em 0 3em 3em;
    display: grid;
    grid-gap: 50px;
    justify-content: left;
    grid-template-columns: repeat(auto-fit, 10rem);
}
.circle-space {
    /* margin: 20px 50px 20px 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    background-color: #D9D9D9;
    height: 8em;
    width: 8em;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    image-rendering: auto;
}

.circle-name {
    /* margin: -20px;
    margin-top: 110px; */
    padding: 0;
}

.circle-position {
    color: #666666;
    text-align: center;
    /* margin: -83px;
    margin-top: 45px;
    padding-top: 50px; */

}

.team-category {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.sub-team-category {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

@media (max-width: 600px) {
    
    .team-container {
        display: grid;
        justify-content: left;
        margin: 1em;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 95rem));
        max-width: 100%;
    }
    
    .team-circles {
        display: grid; 
        grid-gap: 6em;
        row-gap: 4em;
        justify-content: left;
        grid-template-columns: repeat(auto-fit, 4rem);
    }
    .circle-space {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    
    .circle {
        background-color: #D9D9D9;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .circle-name {
        font-size: 1.5rem;
    }
    
    .circle-position {
        color: #666666;
        font-size: 1rem
    }
    
    .team-category {
        width: ;
        word-wrap: break-word;
    }
    
    .sub-team-category {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
/* styles for screens between 601px and 900px wide */
}

@media (min-width: 901px) {
/* styles for screens wider than 901px */
}