.home-container {
    margin-top: 5em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit , minmax(20rem, 57rem));
    place-items: center;
}

.home-section-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    display: flex;
    word-wrap: break-word;
    text-overflow: ellipsis;
    align-items: center;
}

.home-section-logo {
    height: 3.5em;
    margin-right: 1em;
}

.home-btn {
    width: 8em;
    padding: 0.5em 0;
}

.home-box {
    height: 40em;
    width: 40em;
    border-radius: 20px;
    overflow: hidden;
}

.home-box img {
    height: 100%;
    object-fit: cover;
}