you can do your css here

.home-app-logo {
    height: 5rem;
    width: 25rem;
    padding-left: 2rem;
}

.home-app-title {
    display: flex;
    /* font-size: 1rem;
    font-weight: 40rem; */
}

/* .home-app-title button {
    padding-right: 2rem;
} */

/* .home-app-section h2 {
    padding-bottom: 0rem;
    padding-right: 3rem;
}

.home-app-section h3 {
    padding-bottom: 0rem;
    padding-right: 6rem;
    font-size: 2rem;
} */

.home-app-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 60rem;
}

.home-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 50rem));
    max-width: 100%;
}

.home-box-section {
    width: 10em;
    height: 20em;
}

.home-box {
    padding: 30% 10% 30% 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-box-img {
    height: 100%;
    width: auto;
    object-fit: cover;
}