


.title {
    display: flex;
    justify-content: center;
    margin: 4rem 0 4rem;
    line-height: 3rem;
}

.sponsor {
    display: grid;
    justify-content: center;
    /* grid-template-columns: 62.5rem 33.75rem; */
    grid-template-columns: repeat(auto-fit, minmax(14rem, 54rem));
    width: 100%;
    /* grid-template-rows: 5rem 62.5rem; */
}

.top {
    display: grid;
    /* grid-template-columns: 18.75rem 18.75rem 18.75rem; */
    grid-template-columns: repeat(auto-fit, minmax(14rem, 14rem));
    grid-gap: 2rem 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.bottom {
    display: grid;
    /* grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem; */
    grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
    grid-gap: 1rem 1rem;
    justify-content: center;
    align-items: center;
    /* width: 62.5rem;
    height: 43.75rem; */
}

.right {
    display: flex;
    margin: 2rem 1rem 2rem 1rem;
    /* width: 540px;
    height: 700px; */
    justify-content: center;
    align-items: center;
}

.big-sponsor {
    width: 70%;
    height: auto;
    min-width: 235px;
    aspect-ratio: 1/1;
    border-radius: 25px;
    background-color: #d9d9d9;
    overflow: hidden;
}

.big-sponsor img {
    width: 100%; 
    object-fit: cover;
}

.medium-sponsor {
    display: flex;
    width: 14rem;
    height: 14rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.medium-sponsor img {
    width: 100%;
    object-fit: cover;
}
.small-sponsor img {
    width: 100%;
    object-fit: cover;
}

.small-sponsor {
    display: flex;
    height: 10rem;
    width: 10rem;
    background-color: #d9d9d9;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.sponsor-btn {
    display: grid;
    margin: 0 auto;
    width: 207px;
    height: 25px;
    border-radius: 7px;
}

a {
    justify-self: center;
    text-decoration: none;
    
}

@media screen and (max-width: 880px) {
    .medium-sponsor {
        width: 10rem;
        height: 10rem;
    }

    .top {
        justify-items: center;
        grid-gap: 0;
    }

    .small-sponsor {
        place-items: center;
        justify-content: center;

    }

    
}

@media screen and (max-width: 688px) {
    .top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
        grid-gap: 1.063rem 1.375rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 527px) {
    .top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(4.813rem, 4.813rem));
        grid-gap: 1.063rem 1.375rem;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 24px;
    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(3, minmax(4.813rem, 4.813rem));
        grid-gap: 1.063rem 1.375rem;
        justify-content: center;
        align-items: center;
    }

    .medium-sponsor {
        width: 4.813rem;
        height: 4.813rem;
    }

    .small-sponsor {
        width: 4.813rem;
        height: 4.813rem;
    }

    .big-sponsor {
        width: 235px;
        height: auto;
        min-width: 235px;
        aspect-ratio: 1/1;
        border-radius: 25px;
        background-color: #d9d9d9;
    }

    .right {
        margin-top: 3.188rem;
        margin-bottom: 1rem;
    }

    .title {
        margin-bottom: 2.625rem;
    }

    .small-sponsor:nth-last-child(-n+1) {
        display: none;
    }
}
