body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    padding: 0;
}

h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    /*margin: 0 0 4rem;*/
    line-height: 6rem;
}

.sponsor {
    display: grid;
    justify-content: center;
    grid-template-columns: 62.5rem 33.75rem;
    grid-template-rows: 5rem 62.5rem;
}

.top {
    display: grid;
    grid-template-columns: 18.75rem 18.75rem 18.75rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 18.75rem;
    width: 62.5rem;
    margin-bottom: 2rem;
}

.bottom {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem;
    grid-gap: 3rem 2.3rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 62.5rem;
    height: 43.75rem;
}

.right {
    display: flex;
    margin: 0 1rem 0 1rem;
    width: 540px;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.big-sponsor {
    width: 30rem;
    height: 33.75rem;
    border-radius: 25px;
    background-color: #d9d9d9;
}

.medium-sponsor {
    width: 16rem;
    height: 16rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
}

.small-sponsor {
    display: inline-grid;
    height: 10.438rem;
    width: 10.438rem;
    background-color: #d9d9d9;
    border-radius: 1rem;
}
