img {
  height: 60px;
  width: 65px;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 20px;
}
.Icon{
  height: 40px;
  width: 40px;
}
.MuiAppBar-root{
  height: 90px;
  width: 95%;
}

.MuiButton-text{
    background-color: transparent;
    font-size: 20px;
    border: 10px;
    cursor: pointer;
}
.MuiButton-root:active{
  text-decoration: underline;
  color: black;
}
.MuiDrawer-root{
  margin-left: "auto";
}