img {
  height: 55px;
  width: 55px;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 20px;
}
.Icon{
  height: 25px;
  width: 25px;
}
.MuiToolbar-root{
  height: 80px;
  width: 95%;
}

.MuiButton-root{
    background-color: transparent;
    font-size: 20px;
    border: 10px;
    cursor: pointer;
}