h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.about-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 800px 800px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.about-photo {
    display: flex;
    color: #666666;
    background-color: #D9D9D9;
    width: 752px;
    height: 251px;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.about-text-box {
    margin: 0 20px 0 20px;
    padding: 10px;
}

.about-mini-boxes {
    margin: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 175px 175px 175px 175px;
}
.mini-box {
    margin: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-box-icon {
    background-color: #D9D9D9;
    height: 100px;
    width: 120px;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* .mini-box-number {
    font-size: 35px;
} */

.mini-box-text {
    color: #666666;
}

.mini-box-number, .mini-box-text {
    margin: -5px;
    padding: 0;
}