.faq-container {
    justify-content: center;
    display: grid;
    font-family: 'Poppins';
}

/* .header {
    justify-content: center;
} */

.question {
    background: #f4f4f431;
    margin: 5px;
    padding: 10px 20px;
}
/* .quesiton h4 {
    justify-content: right;
} */

h1 {
    font-size: 96;
    font-weight: 500;
    justify-content: center;
}
