.faq-container {
    margin: 15em 0 5em 0;
    display: grid;
    justify-items: center;
    font-family: 'Poppins';
    width: 100%;

}

.header h1 {
    display: flex;
    /* font-size: clamp(1.5rem, 0.5360rem + 4.2965vw, 4rem);
    font-weight: 500;
    margin: 0px 0px clamp(1.875rem, 2.2538rem + -2.0202vw, 0.625rem) 0px;
    border: 0px;
    font-family: 'Poppins'; */
}

.question-container {
    padding: 0px 0px 0px 0px;
    height: fit-content;
    width: 80%;
    /* width: clamp(17.5rem, 60%, 81rem); */
}


.question {
    justify-content: center;
    /* border-left: 125px solid var(--neutral-focus); */
    border-radius: 5px;
    border-left: clamp(0.78rem, -1.3473rem + 11.3455vw, 7.8rem) solid var(--neutral-focus);
    border-right: clamp(0.906rem, -1.8498rem + 14.6974vw, 10rem) solid var(--neutral-focus);
    border-top: clamp(1.1rem, 0.9030rem + 1.0505vw, 1.75rem) solid var(--neutral-focus);
    border-bottom: clamp(1.1rem, 0.9409rem + 0.8485vw, 1.625rem) solid var(--neutral-focus);
    background-clip: border-box;
    margin-bottom: 1em;
}

.quesiton-box {
    margin: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.quesiton-box h2 {
    font-size: clamp(1.5rem, 1.1500rem + 1.5556vw, 2.2rem);
    overflow-wrap: normal;
}

.answer-box {
    margin: 1em 1em;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
}

.answer-box h3 {
    font-size: clamp(1rem, 0.8622rem + 0.7874vw, 1.5rem);
    overflow-wrap: normal;
}

/* .question h2 {
    margin: 10px;
    font-size: clamp(1rem, 0.8622rem + 0.7874vw, 1.5rem);
    overflow-wrap: normal;
}

.question h3 {
    margin: 0px;
    padding: 10px;
    font-size: clamp(1rem, 0.9260rem + 0.4000vw, 1.25rem);
    overflow-wrap: normal;
} */

/* .chevron::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
    margin-right: 20px;
    margin-top: 3px;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.top:before {
	top: 23px;
    left: 65px;
} */

@media screen and (max-width: 800px) {
    .faq-container {
        margin-top: 2em;
    }
}