.faq-container {
    display: grid;
    justify-items: center;
    font-family: 'Poppins';
    margin: clamp(1rem, -2.3333rem + 17.7778vw, 12rem) 0px clamp(1rem, -2.3333rem + 17.7778vw, 12rem) 0px;
    padding: 0px;
    max-width: 100%;

}

.header h1 {
    display: flex;
    font-size: clamp(1.5rem, 0.5360rem + 4.2965vw, 4rem);
    font-weight: 500;
    margin: 0px 0px clamp(1.875rem, 2.2538rem + -2.0202vw, 0.625rem) 0px;
    border: 0px;
    font-family: 'Poppins';
}

.question-container {
    padding: 0px 0px 0px 0px;
    height: fit-content;
    width: clamp(17.5rem, 60%, 81rem);
}


.question {
    justify-content: center;
    /* border-left: 125px solid #D9D9D9; */
    border-left: clamp(0.78rem, -1.3473rem + 11.3455vw, 7.8rem) solid #d9d9d9;
    border-right: clamp(0.906rem, -1.8498rem + 14.6974vw, 10rem) solid #D9D9D9;
    border-top: clamp(1.1rem, 0.9030rem + 1.0505vw, 1.75rem) solid #D9D9D9;
    border-bottom: clamp(1.1rem, 0.9409rem + 0.8485vw, 1.625rem) solid #D9D9D9;
    border-radius: 5px;
    background-clip: border-box;
    margin: 0px 0px 32px 0px;
    font-size: clamp(1rem, 0.9260rem + 0.4000vw, 1.25rem);
    
}
.quesiton-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.question h4 {
    background-color: white;
    margin: 10px;
    font-size: clamp(1rem, 0.8622rem + 0.7874vw, 1.5rem);
    overflow-wrap: normal;
}

.question p {
    background-color: #F3F3F3;
    margin: 0px;
    padding: 10px;
    font-size: clamp(1rem, 0.9260rem + 0.4000vw, 1.25rem);
    overflow-wrap: normal;
}

.chevron::before {
    margin-right: 20px;
    margin-top: 3px;
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.top:before {
    margin: 35px 0px 0px 66px;
	top: 0;

}