button {
    display: flex;
    font-family: Poppins;
    font-weight: 600 !important;
    font-size: 20px;
    background: #B1B1B1;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.2em;
    font-weight: 500;
    margin: 3;
    padding: 4;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.home-app-logo {
    height: 5rem;
    width: 25rem;
    padding-left: 2rem;
}

.home-app-title {
    display: flex;
    font-size: 7rem;
}

.home-app-section h2 {
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

.home-app-section h3 {
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    font-size: 2rem;
}

.home-app-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 750px;
}

.home-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 50rem));
    max-width: 100%;
}
.home-box {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20rem 5rem 20rem 17rem;
    margin: 5rem 0 5rem 0;
    grid-template-columns: repeat(auto-fit, 9rem);
}

/* @media only screen and (max-width: 868px) {
    .home-container {
        font-size: 6vw;
    }
    .home-app-logo {    
        margin-top: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        padding: 0;
    }
    .home-app-section {
        margin-top: 2rem;
    }
    .home-app-title {
        margin: 2rem;
    }
    .home-box {
        margin: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    
} */

