button {
    display: flex;
    font-family: Poppins;
    font-weight: 600 !important;
    font-size: 20px;
    background: #B1B1B1;
    border-radius: 39px;
    border: none;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.2em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.home-app-logo {
    height: 5rem;
    width: 25rem;
    padding-left: 2rem;
}

.home-app-title {
    display: flex;
    font-size: 7rem;
}

/* .home-app-title h1 {
    font-weight: 900 !important;
} */

.home-app-section h2 {
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

.home-app-section h3 {
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    font-size: 2rem;
}

.home-app-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 750px;
}

.home-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 800px 800px;
}
.home-box {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20rem 5rem 20rem 17rem;
    margin: 5rem 0 5rem 0;
}